* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 12.5rem;
    background: #0F6A00;
    text-align: center;
}

h1 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 2.7rem;
    font-size: 5rem;
}

nav {
    width: 100%;
    height: 7.5rem;
    background-color: #022146;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav {
    width: 50%;
    font-size: 5rem;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#turma {
    background: #4883C9;
}

main h2 {
    text-align: center;
    font-weight: 400;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2rem;
}

main button {
    height: 25rem;
    width: 45rem;
    background: #B7FF42;
    border-radius: 1rem;
    margin-top: 11.5rem;
    font-size: 4rem;
}


main {
    text-align: center;
    min-height: calc(100% - (12.5rem + 5rem + 7.5rem));
}

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    margin-top: 30.7rem;
}

footer span {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;    
}

footer span a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#pl {
    margin-left: 2rem;
}

#ts {
    margin-right: 2rem;
}

#turma:hover {
    background-color: white;
    color: #4883C9;
}

body {
    background-image: url("./imgs/paisagem.jfif");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.493);
}

main button:hover {
    background-color: #71a124;
    color: white;
}

