* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

:root{
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 12.5rem;
    background-color: #0F6A00;
    text-align: center;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2.7rem;
}

nav {
    width: 100%;
    height: 7.5rem;
    background-color: #4883C9;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacao {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 50%;
    text-align: center;
    font-size: 5rem;
    padding-top: ;
}

#turma {
    background-color: #022146;

}

main img {
    width: 30rem;
    height: 30rem;
}

#box1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

#box2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 5.8rem;
}

main p {
    font-size: 2rem;
}

footer {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer span {
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
}

#pl {
    margin-right: 3.5rem;
}

#ts {
    margin-left: 3rem;
}

.link {
    text-decoration: none;
    color: white;
}

#inicio:hover {
    background-color: white;
    color: #4883C9;
}

#pedro {
    margin-right: 10rem;
}

#thimer {
    margin-left: 10rem  ;
}

main {
    min-height: calc(100% - (12.5rem + 5rem + 7.5rem));
}